<html>
<head><title>Current info from stream server</title></head>

<body>
<h2>Current info from stream server</h2>

<p>Time: <%=@playInfo.created_at%></p>
<p>Track ID: <%=@playInfo.track_id%></p>
<p>isMix: <%=@isMix%></p>
<p>Mix ID: <%=@playInfo.mix_id%></p>
<p>icecast_title: <%=@playInfo.icecast_title%></p>
<p>listeners: <%=@playInfo.listeners%></p>

</body>
</html>
